<app-dialog [(visible)]="showDialog">
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>
<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">Photos</h1>
      <h2>Official videos. More over at my <a href="http://www.youtube.com/user/AtomikCircusMusic" target="_blank">Youtube</a> or my <a href="https://vimeo.com/user20830563" target="_blank">Vimeo</a> channel.</h2>
    </div>
    <div class="row gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="btn btn-default filter-button" data-filter="all">All</button>
      <button class="btn btn-default filter-button" data-filter="all">Atomik Art</button>
      <button class="btn btn-default filter-button" data-filter="all">Studio In</button>
      <button class="btn btn-default filter-button" data-filter="all">Studio Out</button>
      <!--<button class="btn btn-default filter-button" data-filter="" *ngFor="let gallery in galleryLst;"></button>-->

    </div>
    <br />

    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-6 filter links gallery_product" *ngFor="let img of _album; let i=index">
      <img [src]="img.thumb" (click)="showDialog = !showDialog" />
    </div>

  </div>
</div>


