<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]='["/"]'>
    <img id="ImgAtomikLogo" title="Atomik Circus Music" src="assets/images/AtomikFinalLogo.png" height="25" width="140" alt="Atomik Circus" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Music
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]='["/music/album"]'>Atomik Circus - Album</a>
          <a class="dropdown-item" [routerLink]='["/music/stockmusic"]'>Stock Music</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/blog"]'>Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Media
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]='["/media/video"]'>Videos</a>
          <a class="dropdown-item" [routerLink]='["/media/picture"]'>Photos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/download"]'>Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/contact"]'>Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/connect"]'>Connect</a>
      </li>
    </ul>
  </div>
</nav>
