<footer class="footer">
  <div class="container">
    <p class="text-center custom-footer">
      <span *ngIf="conf.spotifyUrl">
        <a href="{{conf.spotifyUrl}}" target="_blank" class="fa gp"><i class="fa fa-spotify" tool-tip-toggle="tooltip-social" data-original-title="Spotify"></i></a>
      </span>
      <span *ngIf="conf.soundcloudUrl">
        <a href="{{conf.soundcloudUrl}}" target="_blank" class="fa gp"><i class="fa fa-soundcloud" tool-tip-toggle="tooltip-social" data-original-title="Soundcloud"></i></a>
      </span>
      <span *ngIf="conf.facebookUrl">
        <a href="{{conf.facebookUrl}}" target="_blank" class="fa fb"><i class="fa fa-facebook" tool-tip-toggle="tooltip-social" data-original-title="Facebook"></i></a>
      </span>
      <span *ngIf="conf.youtubeUrl">
        <a href="{{conf.youtubeUrl}}" target="_blank" class="fa gp"><i class="fa fa-youtube-square" tool-tip-toggle="tooltip-social" data-original-title="Youtube"></i></a>
      </span>
      <span *ngIf="conf.instagramUrl">
        <a href="{{conf.instagramUrl}}" target="_blank" class="fa gp"><i class="fa fa-instagram" tool-tip-toggle="tooltip-social" data-original-title="Instagram"></i></a>
      </span>
      <span *ngIf="conf.googlePlusUrl">
        <a href="{{conf.googlePlusUrl}}" target="_blank" class="fa gp"><i class="fa fa-google-plus-square" tool-tip-toggle="tooltip-social" data-original-title="Google plus"></i></a>
      </span>

      <span *ngIf="conf.twitterUrl">
        <a href="{{conf.twitterUrl}}" target="_blank" class="fa tw"><i class="fa fa-twitter" tool-tip-toggle="tooltip-social" data-original-title="Twitter"></i></a>
      </span>
      <span *ngIf="conf.jamendoUrl">
        <a href="{{conf.jamendoUrl}}" target="_blank" class="fa gp"><i class="fa fa-music" tool-tip-toggle="tooltip-social" data-original-title="Jamendo"></i></a>
      </span>
      <span *ngIf="conf.bandcampUrl">
        <a href="{{conf.bandcampUrl}}" target="_blank" class="fa gp"><i class="fa fa-bandcamp" tool-tip-toggle="tooltip-social" data-original-title="Bandcamp"></i></a>
      </span>

    </p>
    <p class="text-center" style="color:#bdb9b9;">
      2012 - {{year}} ® {{conf.jamendoUrl}} | <a href="/sitemap.xml">Site Map </a>
    </p>
  </div>
</footer>
