<footer class="footer">
  <div class="container">
    <p class="text-center custom-footer">
      <a href="https://open.spotify.com/artist/23SHrE5UDgvEomWnrjhZBM" target="_blank" class="fa gp"><i class="fa fa-spotify" tool-tip-toggle="tooltip-social" data-original-title="Spotify"></i></a>
      <a href="https://soundcloud.com/atomikcircus" target="_blank" class="fa gp"><i class="fa fa-soundcloud" tool-tip-toggle="tooltip-social" data-original-title="Soundcloud"></i></a>
      <a href="https://www.facebook.com/atomikcircusmusic" target="_blank" class="fa fb"><i class="fa fa-facebook" tool-tip-toggle="tooltip-social" data-original-title="Facebook"></i></a>
      <a href="https://www.youtube.com/channel/UC_zLh6BPqlfVfS9VHvsapKQ" target="_blank" class="fa gp"><i class="fa fa-youtube-square" tool-tip-toggle="tooltip-social" data-original-title="Youtube"></i></a>
      <a href="https://www.instagram.com/atomikcircusmusic/" target="_blank" class="fa gp"><i class="fa fa-instagram" tool-tip-toggle="tooltip-social" data-original-title="Instagram"></i></a>
      <a href="http://google.com/+Atomikcircusmusic" target="_blank" class="fa gp"><i class="fa fa-google-plus-square" tool-tip-toggle="tooltip-social" data-original-title="Google plus"></i></a>
      <a href="https://twitter.com/atomikcircus" target="_blank" class="fa tw"><i class="fa fa-twitter" tool-tip-toggle="tooltip-social" data-original-title="Twitter"></i></a>
      <a href="https://www.jamendo.com/artist/348602/atomik-circus" target="_blank" class="fa gp"><i class="fa fa-music" tool-tip-toggle="tooltip-social" data-original-title="Jamendo"></i></a>
      <a href="https://atomikcircus.bandcamp.com/" target="_blank" class="fa gp"><i class="fa fa-bandcamp" tool-tip-toggle="tooltip-social" data-original-title="Bandcamp"></i></a>

    </p>
    <p class="text-center" style="color:#bdb9b9;">
      2012 - {{year}} ® Atomik Circus Music | <a href="/sitemap.xml">Site Map </a>
    </p>
  </div>
</footer>
