<div class="album-bg">
  <div class="container album-row">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="/assets/images/album/BannerAtomikWhiteA.png" class="img-responsive" style="width:80%;height:125px;  margin: 0 auto; margin-bottom:50px; " />
      </div>
    </div>
    <div class="row album" *ngFor="let album of albumList;let i = index">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div>
          <a href="#">
            <img src="/assets/images/album/thumb/{{album.id}}.jpg" class="img-responsive" alt="{{album.Name}}" width="452" height="452" />
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 album-desc">
        <div class="text album-info">
          <h2 class="music-title">{{album.name}}</h2>
          <p>
            Release Date : {{album.releaseDate | date :'longDate'}}
          </p>
          <p>

          </p>
          <p>
            <a href="{{album.urlTITLE}}"> Details</a>
          </p>
          <p>
            <a href="https://www.pond5.com/artist/atomikcircus" target="_blank"> License</a>
          </p>
        </div>
        <div>
          <div *ngIf="album.spotifyLink">
            <a href="{{album.spotifyLink}}" target="_blank">
              <img class="logo-img" src="/assets/images/logo/spotify.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div *ngIf="album.youtubeLink">
            <a href="{{album.youtubeLink}}" target="_blank">
              <img class="logo-img" src="/assets/images/logo/youtube.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div *ngIf="album.soundcloudLink">
            <a href="{{album.soundcloudLink}}" target="_blank">
              <img class="logo-img" src="/assets/images/logo/soundcloud.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div *ngIf="album.ituneLink">
            <a href="{{album.ituneLink}}" target="_blank">
              <img class="logo-img" src="/assets/images/logo/itunes.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div *ngIf="album.googlePlayLink" target="_blank">
            <a href="{{album.googlePlayLink}}">
              <img class="logo-img" src="/assets/images/logo/google-play.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div *ngIf="album.deezer">
            <a href="{{album.deezer}}" target="_blank">
              <img class="logo-img" src="/assets/images/logo/deezer.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div *ngIf="album.beatportLink">
            <a href="{{album.beatportLink}}" target="_blank">
              <img class="logo-img" src="/assets/images/logo/beatport.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div *ngIf="album.applemusicLink">
            <a href="{{album.applemusicLink}}" target="_blank">
              <img class="logo-img" src="/assets/images/logo/apple-music.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
            </a>
          </div>
          <div>
            <div *ngIf="album.amazonLink">
              <a href="{{album.amazonLink}}" target="_blank">
                <img class="logo-img" src="/assets/images/logo/amazon-music.png" /><span class="album-play"><i class="fa fa-play"></i>Play</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
